<div class="container">
    <div class="verification-page">
        <div class="text-center">
            <h1 class="verification-title">
                Check your email
            </h1>
            <p class="verification-subtitle mb-0">
                To complete registration click the link in the email that we sent to
            </p>
            <p>abc@gmail.com</p>
            <a href="#" class="btn btn-blue mx-auto" target="_blank">Open Mail</a>
            <a href="#" class="verification-link">Haven't received email from us?</a>
        </div>
    </div>
</div>