<main>
	<!-- live chat -->
	<button class="live-chat-button" data-auto-event-category="UXclick" data-auto-event-action="Support click"
		data-auto-event-label="livechat">
		<span class="live-chat-button__label">Live chat support</span>
	</button>
	<!-- login box -->
	<section class="login dashboard pb-3">
		<div class="container">
			<div class="row align-items-center main-box justify-content-center w-100 mx-0">
				<!-- <div class="col-xl-6 col-md-6 col-lg-6">
                            <div class="left-side">
                            	<img data-src="images/login.webp" class="img-fluid lazyload" />
                            </div>
                        </div> -->
				<div class="col-xl-12 col-md-12 col-lg-12 px-0">
					
				</div>
			</div>
		</div>
	</section>
</main>