<main>
	<div class="invite-friend-info-wrapper">
		<div class="invite-friend-info-popup sweet-modal-overlay theme-light sweet-modal-clickable is-visible">
			<div class="sweet-modal theme-light has-content is-visible is-alert">
				<div class="sweet-box-actions">
					<div class="sweet-action-close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
							viewBox="0 0 24 24">
							<path
								d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
								fill="#292c34"></path>
						</svg></div>
				</div>
				<div class="sweet-content">

					<div class="">
						<section class="invite-friend-info__content">
							<div class="invite-friend-info__img-block"><img src="../../../assets/images/imgInfo.png"
									alt="How to benefit with our Invite-a-Friend program:"></div>
							<div class="invite-friend-info__inner">
								<h2 class="heading invite-friend-info__title">How to benefit with our
									Invite-a-Friend program:</h2>
								<ul class="invite-friend-info__list invite-friend-list">
									<li class="invite-friend-list__item">
										<div class="invite-friend-list__counter">
											1
										</div>
										<div class="invite-friend-list__content">
											<h3 class="heading invite-friend-list__title">Make any
												deposit</h3>
											<div class="invite-friend-list__text">When the money is
												in your account, come back here to find your unique invitation link.
											</div>
										</div>
									</li>
									<li class="invite-friend-list__item">
										<div class="invite-friend-list__counter">
											2
										</div>
										<div class="invite-friend-list__content">
											<h3 class="heading invite-friend-list__title">Share the
												link with friends</h3>
											<div class="invite-friend-list__text">If your friends
												register with this link, they get a one-time 100% bonus on their
												deposit.</div>
										</div>
									</li>
									<li class="invite-friend-list__item">
										<div class="invite-friend-list__counter">
											3
										</div>
										<div class="invite-friend-list__content">
											<h3 class="heading invite-friend-list__title">Enjoy
												payouts for your friends' trades</h3>
											<div class="invite-friend-list__text">Every lot they
												trade now brings you 1 USD. We pay out from 5 USD every day!</div>
										</div>
									</li>
								</ul>
								<div class="invite-friend-info__btn-wrapper"><a
										class="invite-friend-info__btn styled-btn-v2 _primary _normal"
										data-auto-event-category="UXclick"
										data-auto-event-action="invite_friend_info_deposit" href="/deposit/new/">
										Start with a deposit
										<!---->
									</a></div>
							</div>
						</section>
					</div>
				</div>
				<!---->
			</div>
		</div>
	</div>
</main>