<header id="header" class="header-container" style="display: none;">
  <div class="header-area">
    <!-- menu -->
    <div class="main-header-area">
      <div class="container-fluid d-flex align-items-center">
        <div class="logo mr-auto">
          <a href="index.html" style="color: #fff"
            ><img src="../../../assets/images/logoBB.png" class="img-fluid"
          /></a>
        </div>
        <div>
          <ul class="reg-steps">
            <li class="item current">
              <div class="number">
                <span>1</span>
              </div>
              <div class="name">
                <span class="title">Account</span>
              </div>
            </li>
            <li class="item">
              <div class="number">
                <span>2</span>
              </div>
              <div class="name">
                <span class="title">Deposit</span>
              </div>
            </li>
            <li class="item">
              <div class="number">
                <span>3</span>
              </div>
              <div class="name">
                <span class="title">Trading</span>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <a class="header-container-user-name" href="/logout/"></a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- <main>
    <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" >
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Account</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <p>Go to a different step to see the error state</p>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Deposit</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                     required>
            </mat-form-field>
            <div>
              <p>Go to a different step to see the error state</p>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Trading</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      
</main>> -->
