.header-container {
    position: relative;
    .logo {
        margin: auto auto auto 0;
        display: flex;
        align-items: center;

        img {
            width: 111px;
            height: 23px;
        }
    }
    .reg-steps {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: auto;
        height: 100%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        .item {
            position: relative;
            display: flex;
            align-items: center;
            padding-right: 60px;
            letter-spacing: .18px;
            font-weight: 500;
            font-size: 14px;
            margin-right: 50px;
            color: #fff;
            text-decoration: none;

            @media screen and (max-width: 1024px){
                padding-right: 20px;
                margin-right: 20px;
            }
            &::before {
                z-index: 2;
                position: absolute;
                top: 0;
                right: 1px;
                width: 0;
                height: 0;
                border-top: 37px solid transparent;
                border-bottom: 37px solid transparent;
                border-left: 16px solid #c99c3b;
                content: "";
            }
            &::after {
                z-index: 1;
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-top: 37px solid transparent;
                border-bottom: 37px solid transparent;
                border-left: 16px solid #276ddb;
                content: "";
            }
            .number {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 15px;
                width: 30px;
                height: 30px;
                min-width: 30px;
                border-radius: 50%;
                background: #186df1;
                color: #fff;
                letter-spacing: .17px;
                font-weight: 700;
                font-size: 14px;
                opacity: .3;
                text-decoration: none;
                span {
                    margin: auto;
                    line-height: 1;
                }
            }
            .name {opacity: .3;text-decoration: none;}

            &.current {
                .number {opacity: 1;}
                .name {opacity: 1;}
            }
        }
    }
    .header-container-user-name {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 74px;
        height: 100%;
        background-color: #fff;
        text-align: center;
        text-decoration: none;
        line-height: 74px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        background-image: url(../../../assets/images/icon/exit.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}